.skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.skill h2{
    color: #4527a0;
}

.skillList{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.skill{
    margin: 10px;
}

@media (max-width: 750px){
    .imgSkill{
        height:50px; 
        width: 50px;
        color: #7e57c2;
    }
}

@media (min-width: 751px) and ( max-width: 1200px){
    .imgSkill{
        height:80px;
        width:80px;
        color: #7e57c2;
    }
}

@media (min-width: 1201px){
    .imgSkill{
        height:100px;
        width:100px;
        color: #7e57c2;
    }
}