.home {
    background-color:  #eeeeee;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.datos{
    z-index: 2;
    color: #000000;
    align-items: center;
    height: 80vh;
    max-width: 2000px;
    width: 100vw;
    /* width: 50vw; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* transform: scale(2) translateX(2px) translateY(1px);
    transition: all 0.5s ease-out */
}

/* .datos:active{
    width: 50vw;
    transform: scale(1) translateX(0px) translateY(0px);
} */


.proyecto{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}