.light-mode {
  background-image: linear-gradient(#FFFFFF, #ac89e2);
  color: #363538;
  box-shadow: 0 16px 4px 0 #291F43;
  .btn:hover {
    transition: all 0.3s ease-in-out;
    background-color: #0C0A14;
  }
  .home-title {
    color: #d1c6f3;
    text-shadow: -2px -2px 0 #ac89e2, 2px -2px 0 #69518e, -2px 2px 0 #4d3e71, 2px 2px 0 #291F43;
  }
}

.dark-mode{
  background-image: linear-gradient(#0C0A14, #291F43);
  color: #FFFFFF;
  box-shadow: 0 16px 4 0 #ffffff;
  .btn:hover {
    transition: all 0.3s ease-in-out;
    background-color: #ac89e2;
  }
  .home-title {
    color: #291f43;
    text-shadow: -2px -2px 0 #d1c6f3, 2px -2px 0 #ac89e2, -2px 2px 0 #9575cd, 2px 2px 0 #9575cd;
  }
}

/* Fuente de titulo */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
/* font-family: 'Permanent Marker' */

/* Fuente de subtitulo */
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');
/* font-family: 'Playpen Sans' */

/* Fuente de texto */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
/* font-family: 'Nanum Pen Script', cursive */

@import url('https://fonts.googleapis.com/css2?family=Sofadi+One&display=swap');

a {
  text-decoration: none;
}

h1{
  font-family: 'Permanent Marker'
}


h2{
  font-family: 'Playpen Sans'
}

p{
  font-family: "Sofadi One", system-ui;
}

*{
  margin: 0;
}