@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


/* Fuente de titulo */
@import url('https://fonts.googleapis.com/css2?family');
/* font-family: 'Cinzel', serif */

/* Fuente de subtitulo */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
/* font-family: 'Amatic SC', cursive */

/* Fuente de texto */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
/* font-family: 'Nanum Pen Script', cursive */

/* .texto{
  font-family: 'Indie Flower', cursive 
} */


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  text-decoration: none;
}

h1{
  font-family: 'Nanum Pen Script';
  font-size: 70px !important;
}


h2{
  font-family: 'Amatic SC', cursive;
  margin: 2%
}

p{
  font-family: 'Nanum Pen Script', cursive;
}

span{
  font-family: 'Cinzel', serif;
}